.additionally {
  width: 87%;
  min-height: 142px;
  padding: 15px;

  @include text(17px, 18px);
  border: 2px solid #444444;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}
