.advantages {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;

  &__title {
    @include title();
    margin: 0;
  }

  &__list {
    @include list();
    display: flex;
    flex-direction: column;
  }

  &__item {
    @include list-point();
    position: relative;
    width: 81%;
  }

  &__item path {
    fill: #63d1bb;
  }

  &__item svg {
    position: absolute;
    bottom: 55px;
  }
}
@media (min-width: 768px) {
  .advantages {
    margin-bottom: 150px;

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      //Временно
      margin-right: 60px;
      width: 250px;
    }
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-left: 175px;

    &__item {
      //Временно
      margin-right: 60px;
      width: 300px;
    }
  }
}
