.advantages {
  margin-bottom: 35px;

  &__grid {
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title();
    margin: 0 0 85px;
  }

  &__list {
    @include list();
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    @include list-point();
    position: relative;
    width: 100%;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__item svg {
    position: absolute;
    bottom: 57px;
    fill: #63d1bb;
  }

  &__grid br {
    display: none;
  }
}

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 32px;

    &__item:last-child {
      margin-bottom: 110px;
    }

    &__grid {
      padding: 0 40px;
      max-width: 768px;
    }

    &__title {
      margin-bottom: 102px;
      font-size: 43px;
      line-height: 50px;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      //Временно
      margin-right: 84px;
      margin-bottom: 110px;
      width: 250px;
      font-size: 20px;
      line-height: 22px;
    }
  }
}

@media (min-width: 1200px) {
  .advantages {
    margin-bottom: 0;

    &__title {
      font-size: 53px;
      line-height: 57px;
      padding-left: 105px;
    }

    &__grid {
      max-width: 1050px;
      margin: 0 auto;
      padding: 0 291px;
    }

    &__item {
      //Временно
      width: 38%;
      margin-right: 0;
      margin-bottom: 110px;
    }

    &__grid br {
      display: block;
    }

    &__list {
      justify-content: center;
    }
  }
}
