.contacts__title {
  @include fontsS();
  font-size: 21px;
  text-align: center;
  position: relative;
}

.contacts__title::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  top: -56px;
  right: 166px;
  background-color: #cb98a8;
}

.contacts__item {
  @include fontsS();
}

.contacts__skype {
  padding: 18px 60px;
}

.contacts__email {
  padding: 0 10px;
}

.contacts__phone {
  padding: 17px 50px;
}

.contacts__links {
  @include fontsS();
  color: #000000;
  text-decoration: none;
}

.contacts__name {
  padding-right: 45px;
  position: relative;
}

.contacts__name::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  top: 0;
  right: 10px;
  background-image: url("./../img/line.png");
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 200px;
    background-image: url("./../img/tree-2.png"), url("./../img/tree-5.png");
    background-repeat: no-repeat;
    background-size: 45px, 76px;
    background-position: 45px 277px, 664px 47px;
  }

  .contacts__title {
    font-size: 29px;
    margin-bottom: 60px;
  }

  .contacts__title::before {
    height: 39px;
    top: -105px;
    right: 382px;
  }

  .contacts__item {
    text-align: center;
    padding: 14px 0;
  }

  .contacts__name {
    padding-right: 83px;
  }

  .contacts__name::after {
    right: 39px;
  }
}
