.develop {
  display: flex;

  &__item {
    @include list-point(19px ,18px);
    text-decoration: none;
    padding-right: 30px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
  }

  &__item::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    right: -30px;
    top: -10px;
    background-image: url("./../img/htmlacademy.svg");
    background-repeat: no-repeat;
  }

  &__item:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .develop {
    margin-top: 30px;
  }
}
