.email {
  margin-top: 2px;

  &__point {
    padding-bottom: 15px;
    position: relative;
    display: flex;
  }

  &__text {
    @include text(17px,18px);
    border: none;
    border-bottom: 2px solid #000000;
    position: relative;
    padding-bottom: 17px;
    width: 100%;
  }

  &__text:hover {
    border-color: #62d1ba;
  }

  &__text:focus {
    border-color: #62d1ba;
  }

  &__text:hover + svg {
    fill: #62d1ba;
    opacity: 1;
  }

  &__text:focus + svg {
    fill: #62d1ba;
    opacity: 1;
  }

  &__point svg {
    opacity: 0.3;
  }

  &__icon {
    position: absolute;
    right: 4px;
    bottom: 24px;
  }
}

@media (min-width: 768px) {
  .email {
    width: 100%;

    &__text {
      width: 91%;
      background-color: #f1f1f1;
      padding-left: 17px;
      font-size: 19px;
      padding-bottom: 10px;
    }

    &__point {
      width: 100%;
      margin-top: 15px;
      margin-left: 20px;
    }

    &__icon {
      right: 54px;
    }
  }
}
