.initials {
  margin-top: 10px;
  margin-bottom: 10px;

  &__name {
    @include title(17px,18px);
  }

  &__point {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
  }

  &__name-input {
    @include text(17px,18px);
    padding: 16px 0;
    border: none;
    border-bottom: 2px solid #000000;
  }

  &__name-input:hover {
    border-color: #62d1ba;
  }

  &__name-input:focus {
    border-color: #62d1ba;
  }

  &__surname {
    @include text(17px,18px);
  }

  &__patronymic {
    @include text(17px,18px);
  }
}

@media (min-width: 768px) {
  .initials {
    margin-top: 1px;
    margin-left: 23px;
    width: 100%;
    margin-bottom: 30px;

    &__point {
      width: 100%;
      flex-direction: row;
      border: none;
      align-items: center;
      margin-bottom: 20px;
    }

    &__name-input {
      border-bottom: 2px solid #000000;
      padding-top: 17px;
      padding-left: 16px;
      padding-bottom: 11px;
      width: 100%;
      font-size: 19px;
    }

    &__name {
      margin-right: 25px;
      font-size: 19px;
    }
  }
}

@media (min-width: 1200px) {
  .initials {
    margin-left: 3px;
    margin-bottom: 0;

    &__name-input {
      padding-top: 14px;
      padding-left: 16px;
      padding-bottom: 13px;
    }

    &__point {
      width: 94%;
    }
  }
}
