.main-nav__grid {
  padding: 0 15px;
  margin: 0 auto;
}

.main-nav {
  background-color: #f8f8f8;
}

.main-nav__menu {
  padding: 0;
  margin: 0;
  padding-top: 140px;
}

.main-nav__item {
  list-style: none;
  padding-bottom: 30px;
  text-align: center;
}

.main-nav__close-open {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;
}

.main-nav__item a {
  @include fontsS();
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  border-bottom: 4px solid #709c54;
}

.main-nav__button-close {
  background-image: url("./../img/close.png");
  background-repeat: no-repeat;
}

.main-nav__button-open {
  background-image: url("./../img/open.png");
  background-repeat: no-repeat;
}

.main-nav__menu-close {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__button-open {
    background-image: url("./../img/menu-tablet.png");
    background-repeat: no-repeat;
  }

  .main-nav__close-open {
    position: static;
    margin-right: 58px;
    margin-top: 23px;
  }
}
@media (min-width: 1440px) {
  .main-nav__menu-close {
    display: block;
  }

  .main-nav__menu {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 419px;
    margin-right: 69px;
  }

  .main-nav {
    order: -1;
  }

  .main-nav__close-open {
    display: none;
  }

  .main-nav__item:first-child {
    display: none;
  }

  .main-nav__item {
    padding-bottom: 0;
    padding-top: 32px;
  }

  .main-nav__item a {
    border: none;
    font-size: 18px;
  }
}
