.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;

  &__item {
    max-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
  }

  &__grid {
    max-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__site-list {
    display: none;
  }

  &__users-list {
    display: none;
  }

  &__site-list--open {
    display: block;
  }

  &__users-list--open {
    display: block;
  }

  &__site-list--nojs {
    display: block;
  }

  &__users-list--nojs {
    display: block;
  }

  &__toggle {
    position: absolute;
    top: 32px;
    right: 31px;
    z-index: 2;
    display: block;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    background-image: url("./../img/icon-menu-open.svg");
    background-repeat: no-repeat;
  }

  &__toggle--nojs {
    display: none;
  }

  &__toggle-open {
    position: absolute;
    top: 39px;
    right: 39px;
    z-index: 2;
    display: block;
    width: 21px;
    height: 21px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    background-image: url("./../img/icon-menu-close.svg");
    background-repeat: no-repeat;
  }

  .main-nav--nojs &__toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    max-height: 89px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
    max-width: 668px;
    margin: 0 auto;

    &__toggle {
      display: none;
    }

    &__site-list {
      display: flex;
    }

    &__users-list {
      display: flex;
      order: 0;
    }
  }
}

@media (min-width: 1200px) {
  .main-nav {
    max-width: 1050px;
    margin: 0 auto;

    &__news-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
