.news-list {
  display: none;

  @include list();

  &__item {
    @include menu();
    padding: 14px 0;
  }

  &__item:hover {
    opacity: 0.6;
  }

  &__item:active {
    opacity: 0.3;
  }

  &__item:last-child {
    border-bottom: 1px solid #ececec;
  }

  &__point {
    @include point();
  }
}

@media (min-width: 1200px) {
  .news-list {
    display: flex;
    order: 2;

    &__item {
      padding-right: 60px;
      font-size: 15px;
      padding-top: 19px;
    }

    &__item:last-child {
      border: none;
    }

    &__point {
      border: none;
    }
  }
}
