.order {
  display: flex;
  flex-direction: column;

  .order__title {
    @include title(27px, 30px);
    background-color: #f1f1f1;
    padding: 70px 35px;
    text-align: center;
  }

  .order__instruction {
    @include text(13px,24px);
    margin-bottom: 30px;
  }

  .order__form {
    display: flex;
    flex-direction: column;
  }
}
