.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo-site {
  position: absolute;
  height: 33px;
  width: 112px;
  left: 0;
  top: 0;
  z-index: 100;
}

.page-header__tel {
  display: none;
}
@media (min-width: 768px) {
  .page-header__tel {
    @include fontsS();
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    display: block;
    margin-right: 115px;
    margin-top: 19px;
  }

  .page-header__grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f8f8f8;
  }

  .page-header__logo-site {
    width: 203px;
    height: 60px;
    position: static;
  }
}
@media(min-width: 1440px) {
  .page-header__logo-site {
    width: 254px;
    height: 76px;
    order: -2;
  }

  .page-header__tel {
    margin-right: 387px;
    margin-top: 34px;
  }
}
