.product-week {
  margin-bottom: 27px;

  &::after {
    content: "";
    display: block;
    height: 7px;
    background-image: url("./../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 50% 100%;
    background-size: 320px 100%;
    transform: rotate(180deg);
  }

  &__grid {
    max-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
  }

  &__title {
    @include title();
    margin: 0 0 3px;
  }

  &__product {
    font-size: 17px;
    line-height: 20px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: bold;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__description {
    @include text();
    margin-top: 25px;
    margin-bottom: 24px;
    line-height: 24px;
  }

  &__characteristic {
    @include text();
    border-collapse: collapse;
    margin-bottom: 21px;
  }

  &__field {
    border-bottom: 1px solid #ececec;
    padding-bottom: 19px;
  }

  &__value {
    border-bottom: 1px solid #ececec;
    padding-bottom: 17px;
    padding-left: 18px;
  }

  &__price {
    @include title(17px,24px,#444444);
    text-align: center;
    margin-bottom: 0;
    margin-top: 19px;
  }

  &__order {
    @include button;
    margin-top: 28px;
  }

  &__order:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &__order:active span {
    opacity: 0.3;
  }

  &__imagen-wrapper {
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__wrapper-characteristic {
    display: flex;
    flex-direction: column;
    //Временно
    width: 260px;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .product-week {
    margin-top: -50px;
    z-index: 10;
    margin-bottom: 50px;

    &::after {
      height: 17px;
      background-size: 768px 100%;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 24px;
      background-color: transparent;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 50% 100%;
      background-size: 770px 100%;
    }

    &__title {
      font-size: 43px;
      line-height: 50px;
      margin: 0;
    }

    &__grid {
      padding: 0 50px;
      max-width: 768px;
      padding-bottom: 55px;
      padding-top: 33px;
    }

    &__product-image {
      width: 335px;
      min-height: 412px;
    }

    &__wrapper {
      flex-direction: row;
    }

    &__title-wrapper {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 49px;
    }

    &__price-wrapper {
      //Временно
      justify-content: flex-start;
      width: 290px;
      margin-top: -120px;
    }

    &__product {
      width: 19%;
      text-align: center;
      text-transform: uppercase;
      padding-top: 8px;
    }

    &__description {
      margin-top: 0;
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 46px;
    }

    &__characteristic {
      width: 90%;
    }

    &__wrapper-characteristic {
      width: 300px;
    }

    &__imagen-wrapper {
      margin-left: 34px;
    }

    &__price {
      margin-bottom: 33px;
      margin-top: 5px;
      font-size: 20px;
    }

    &__order {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .product-week {
    margin-bottom: 60px;
    position: relative;
    margin-top: -60px;

    &__description {
      margin-bottom: 24px;
    }

    &__characteristic {
      margin-top: 30px;
    }

    &::before {
      height: 37px;
      background-position: 50% 50%;
      background-size: 1250px 100%;
    }

    &::after {
      width: 1050px;
      margin: 0 auto;
      height: 23px;
      background-size: 1050px 100%;
    }

    &__grid {
      max-width: 1050px;
      margin: 0 auto;
      padding: 33px 40px 72px;
    }

    &__product {
      order: -1;
      padding: 14px 0 0 8px;
    }

    &__title-wrapper {
      width: 690px;
      position: absolute;
      top: 140px;
      left: 235px;
    }

    &__title {
      font-size: 53px;
      line-height: 57px;
    }

    &__wrapper-characteristic {
      margin-top: 180px;
      padding-left: 175px;
      width: auto;
    }

    &__product-image {
      width: 525px;
      height: 640px;
    }

    &__imagen-wrapper {
      margin: 17px 0 0 60px;
    }

    &__price-wrapper {
      padding-left: 175px;
      width: 292px;
    }

    &__order {
      width: 100%;
    }
  }
}
