.product-week {
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;

  &__title {
    @include title();
    margin: 0;
  }

  &__product {
    font-size: 17px;
    line-height: 20px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: bold;
    color: #63d1bb;
  }

  &__description {
    @include text();
  }

  &__characteristic {
    @include text();
    border-collapse: collapse;
    margin-bottom: 30px;
  }

  &__field {
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
  }

  &__value {
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  &__price {
    @include title(17px,24px,#444444);
    text-align: center;
    margin-bottom: 0;
  }

  &__order {
    @include button;
  }

  &__imagen-wrapper {
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__wrapper-characteristic {
    display: flex;
    flex-direction: column;
    //Временно
    width: 335px;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .product-week {
    &__product-image {
      width: 335px;
    }

    &__wrapper {
      flex-direction: row;
    }

    &__title-wrapper {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 55px;
    }

    &__price-wrapper {
      //Временно
      justify-content: flex-start;
      width: 260px;
      margin-top: -125px;
    }

    &__product {
      width: 10%;
      text-align: center;
    }

    &__description {
      margin-top: 0;
    }

    &__price {
      margin-bottom: 30px;
    }

    &__characteristic {
      width: 90%;
    }
  }
}
@media (min-width: 1200px) {
  .product-week {
    padding-left: 175px;
    margin-bottom: 150px;
    position: relative;

    &__product {
      order: -1;
    }

    &__title-wrapper {
      width: 665px;
      position: absolute;
      top: 50px;
      left: 0;
    }

    &__title {
      font-size: 53px;
      line-height: 57px;
    }

    &__wrapper-characteristic {
      margin-top: 240px;
    }

    &__product-image {
      width: 525px;
      height: 640px;
    }

    &__description {
      width: 260px;
    }
  }
}
