.reviews {
  margin-bottom: 50px;

  &__grid {
    max-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include title();
  }

  &__text {
    @include text(15px, 30px);
  }

  &__author {
    font-size: 17px;
    line-height: 20px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: bold;
    color: #000000;
  }

  &__inst {
    @include text(17px,30px);
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__write {
    @include button();
  }

  &__wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
  }

  &__next {
    border: none;
    background-image: url("./../img/left.svg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 130px;
    height: 50px;
    background-position: 50px 12px;
  }

  &__wrapper-next {
    border: 1px solid #ececec;
    flex-grow: 1;
  }

  &__back {
    border: none;
    background-image: url("./../img/right.svg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    width: 130px;
    height: 50px;
    background-position: 50px 12px;
  }

  &__wrapper-back {
    border: 1px solid #ececec;
    flex-grow: 1;
  }

  &__wrapper-inst {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .reviews {
    padding-top: 90px;
    padding-bottom: 70px;

    &__grid {
      max-width: 768px;
      background-image: url("./../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 30px;
      background-size: 350px 457px;
      padding: 100px 50px 70px 175px;
    }

    &__wrapper {
      width: auto;
      margin: 0;
    }

    &__wrapper-inst {
      flex-direction: row;
      justify-content: space-between;
    }

    &__wrapper-next {
      border: none;
    }

    &__wrapper-back {
      border: none;
    }

    &__write {
      order: -1;
      margin-left: auto;
      margin-bottom: -100px;
      width: 175px;
    }

    &__text {
      margin-bottom: 65px;
    }

    &__next {
      width: 100px;
    }

    &__back {
      width: 100px;
    }

    &__title {
      @include title(43px, 50px);
    }
  }
}

@media (min-width: 1200px) {
  .reviews {
    &__grid {
      max-width: auto;
      margin: 0 auto;
    }

    &__write {
      margin-bottom: -100px;
      width: 175px;
    }
  }
}
