.site-list {
  @include list();
  display: flex;
  flex-direction: column;

  &__item {
    @include menu();
    text-align: left;
    padding-left: 75px;
  }

  &__item:hover {
    opacity: 0.6;
  }

  &__item:active {
    opacity: 0.3;
  }

  &__point {
    @include point();
  }
}

@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
    order: 1;
    justify-content: space-between;
    width: auto;

    &__item {
      font-size: 15px;
      padding: 17px 16px 30px 0;
    }

    &__item-contacts {
      padding-left: 0;
    }

    &__point {
      border: none;
      padding-right: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .site-list {
    order: -2;
    margin: 0;
    width: auto;

    &__item-contacts {
      border-right: 1px solid #ececec;
    }

    &__item-order {
      padding-left: 30px;
    }

    &__item {
      padding-top: 35px;
      font-size: 17px;
      font-weight: bold;
    }
  }
}
