.site-guide {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("./../img/hero-mobile@2x.jpg");
  }
  background-image: url("./../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 575px 373px;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  margin-bottom: 30px;

  &__title {
    font-size: 27px;
    line-height: 30px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: bold;
    color: #010000;
    padding-bottom: 120px;
    padding-top: 75px;
    text-align: center;
    margin: 0 auto;
  }

  &__links {
    display: block;
    position: relative;
    font-size: 19px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 25px 100px 30px 50px;
    cursor: pointer;
  }

  &__links:hover {
    padding-top: 20px;
    margin-top: -5px;
  }

  &__links:active span {
    opacity: 0.3;
  }

  &__links--interior {
    background-color: #63d1bb;
  }

  &__links--interior::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    right: 34px;
    top: 23px;
    background-image: url("./../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
  }

  &__links--interior:hover::after {
    top: 17px;
    opacity: 0.7;
  }

  &__links--interior:active::after {
    opacity: 0.3;
  }

  &__links--children {
    background-color: #56c3b2;
  }

  &__links--children::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    right: 43px;
    top: 23px;
    background-image: url("./../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
  }

  &__links--children:hover::after {
    top: 17px;
    opacity: 0.7;
  }

  &__links--children:active::after {
    opacity: 0.3;
  }

  &__item-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .site-guide {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/hero-tablet@2x.jpg");
    }
    flex-wrap: wrap;
    background-image: url("./../img/hero-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 1%;
    background-size: 1150px 746px;

    &__title {
      width: 550px;
      padding-top: 153px;
      padding-bottom: 373px;
      font-size: 43px;
      line-height: 50px;
    }

    &__title br {
      display: none;
    }

    &__item--interior {
      flex-grow: 1;
    }

    &__item--children {
      flex-grow: 1;
    }

    &__item-wrapper {
      flex-direction: row;
      padding: 0 50px;
      max-width: 668px;
      margin: 0 auto;
    }

    &__links {
      flex-grow: 1;
    }
  }
}

@media (min-width: 1200px) {
  .site-guide {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("./../img/hero-desktop@2x.jpg");
    }
    background-image: url("./../img/hero-desktop@1x.jpg");
    background-position: 50% 1%;
    background-size: 1150px 746px;

    &__title {
      font-size: 53px;
      line-height: 57px;
      width: 650px;
    }

    &__item-wrapper {
      max-width: 1050px;
    }

    &__links {
      min-height: 70px;
    }
  }
}
