.site-guide {
  background-image: url("./../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -80px 0;
  margin-bottom: 30px;
  background-size: 488px 320px;
  display: flex;
  flex-direction: column;

  .site-guide__title {
    font-size: 27px;
    line-height: 30px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: bold;
    color: #010000;
    padding-bottom: 120px;
    padding-top: 75px;
    text-align: center;
    margin: 0;
  }

  .site-guide__item {
    padding: 30px 0;
  }

  .site-guide__links {
    font-size: 19px;
    line-height: 24px;
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 25px 100px 30px 30px;
    cursor: pointer;
  }

  .site-guide__item--interior {
    background-color: #63d1bb;
  }

  .site-guide__item--children {
    background-color: #56c3b2;
  }

  .site-guide__item-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .site-guide {
    flex-wrap: wrap;
    background-image: url("./../img/hero-tablet@1x.jpg");

    .site-guide__title {
      max-width: 515px;
    }

    .site-guide__item--interior {
      flex-grow: 1;
    }

    .site-guide__item--children {
      flex-grow: 1;
    }

    .site-guide__item-wrapper {
      flex-direction: row;
    }
  }
}
