.social {
  margin: 30px auto 46px;
  border-bottom: 1px solid #ececec;
  display: flex;

  &__list {
    @include list();
    margin: 0 auto;
    display: flex;
  }

  &__item {
    margin: 0 20px;
  }

  &__item:hover svg {
    fill: #46c1ae;
  }

  &__item:active svg {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .social {
    margin-top: 62px;
    margin-left: 142px;
  }
}

@media (min-width: 1200px) {
  .social {
    margin-left: 332px;
  }
}
