.social__list {
  display: flex;
  justify-content: center;
  padding: 0 60px;
  margin-top: 22px;
}

.social__item {
  list-style: none;
  margin: 0 14px;
}
@media(min-width: 768px) {
  .social__list {
    margin-top: 39px;
  }

  .social__item {
    margin: 0 11px;
  }

  .social__img {
    width: 32px;
    height: 32px;
  }
}
