.type {
  margin-top: 3px;
  margin-bottom: 11px;

  &__point {
    margin-bottom: 20px;
  }

  &__name {
    @include title(17px,18px);
    display: flex;
    align-items: center;
    position: relative;
  }

  &__name-select {
    display: block;
    order: 1;
  }

  &__name::after {
    content: "";
    min-width: 36px;
    height: 36px;
    border: 2px solid #444444;
    margin-right: 22px;
    border-radius: 50%;
  }

  &__name:hover::after {
    border-color: #63d1bb;
  }

  &__name:focus::before {
    border-color: #63d1bb;
  }

  &__name:active::before {
    border-color: #63d1bb;
  }

  input:checked + &__name::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 14px;
    background-color: #63d1bb;
    border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .type {
    &__name::after {
      width: 50px;
      height: 50px;
      margin-right: 27px;
    }

    input:checked + &__name::before {
      top: 17px;
      left: 17px;
      width: 22px;
      height: 22px;
    }

    &__name {
      font-size: 19px;
    }

    &__name-select {
      padding-bottom: 5px;
    }
  }
}
