.users-list {
  @include list();
  display: flex;
  flex-direction: column;

  .users-list__item {
    @include menu();
  }

  .users-list__point {
    @include point();
  }
}

@media (min-width: 768px) {
  .users-list {
    flex-direction: row;
  }

}
